@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EBEBEB;
  height: 100vh;
  overflow-x: hidden;
}

/*Animacion del Inicio o index*/
.headerbar .logo h1::after {
  content: "CODERBY";
  font-size: 1.1rem;
  margin-left: -140px;
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 10000;
  color: var(--gris);
}

.headerbar .logo h1:hover:after {
  content: "";
  /*La verdad es que no sabia como escribir el h1 de modo 
  que cambiara de palabra con el hover porque seguia apareciendo asi que
  se me ocurrio esto :D*/
  position: relative;
}

.headerbar .logo h1:hover:before {
  content: "NAPOLEON ROMANO";
  font-size: 1.1rem;
  margin-left: -85px;
  display: flex;
  padding-top: 20px;
  position: relative;
  color: var(--gris);
}

/*Termina la animacion del logo*/
/*Animacion de la hamburguesa*/
.headerbar .toggle .header-hamburguesa {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 22px;
  justify-content: space-between;
  padding: 0;
  position: relative;
  width: 30px;
}

/* animacion del boton de descarga cv */
.block-btn-cv {
  background: #EBEBEB;
  z-index: 0;
}

.block-btn-cv a {
  background: #EBEBEB;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.block-btn-cv a:hover {
  background: #EBEBEB;
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.block-cv {
  display: flex;
  justify-content: center;
  padding: 20px 0 105px 0;
  z-index: 0;
}

.block-cv a {
  display: flex;
  min-width: 225px;
  padding: 25px 35px;
  margin: 0 25px;
  border-radius: 10px;
  color: #53657D;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 0;
}

/*Termina el boton de cv*/
/*Boton Hamburguesa*/
.headerbar .toggle button {
  border: none;
}

.headerbar .toggle .header-hamburguesa-line {
  background-color: #53657D;
  border: none;
  border-radius: 3px;
  height: 0.2rem;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  width: 100%;
  position: relative;
  z-index: 0;
  color: #53657D;
}

.headerbar .toggle .header-hamburguesa:hover .header-hamburguesa-line:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
  position: relative;
}

.headerbar .toggle .header-hamburguesa:hover .header-hamburguesa-line:nth-child(2) {
  opacity: 0;
  position: relative;
}

.headerbar .toggle .header-hamburguesa:hover .header-hamburguesa-line:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
  position: relative;
}

/*Termina animacion de hamburguesas*/
/*header*/
.header-container {
  position: relative;
  width: 100%;
}

.nav {
  position: fixed;
  width: 300px;
  min-height: 100vh;
  height: 100vh;
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  background: #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s;
  z-index: 100000;
}
.nav.active {
  width: 0;
}
.nav ul {
  /*La pos relative tiene la propiedad de que mantiene un flujo normal del documento lo que guarda su pocicion y mantiene la distancia entre el borde del elemento al borde de su contenedor en la direccion correspondientes*/
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}
.nav ul li {
  /*Pongo position relative en todo para que se mantenga una jerarquia*/
  position: relative;
  width: 100%;
  list-style: none;
}
.nav ul li a {
  /*se puede utilizar "z-index" para controlar su elevaciÃ³n en relaciÃ³n con otros elementos. cuando se usa con postion relative*/
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  /*Izq y derecha */
  white-space: normal;
  /*"white-space:normal;" es una propiedad CSS que define cÃ³mo se deben manejar los espacios en blanco, en el caso de normal significa que cualquier espacio en blanco adicional, como tabulaciones, espacios y saltos de lÃ­nea, se reducen a un solo espacio. AdemÃ¡s, el texto se ajusta automÃ¡ticamente al ancho del contenedor en el que se encuentra, lo que puede dar lugar a lÃ­neas de texto mÃ¡s largas o mÃ¡s cortas segÃºn la resoluciÃ³n de la pantalla o el tamaÃ±o del contenedor.*/
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}
.nav ul li a:hover {
  /*Recordar sin el hover disminui su opacidad o trasparencia y aqui la aumento*/
  opacity: 1;
}

header .main {
  position: absolute;
  width: calc(100vw - 300px);
  left: 300px;
  background: #EBEBEB;
  min-height: 100vh;
}
header .main.active {
  width: calc(100vw - 0px);
  left: 0px;
}
header .main.active .headerbar {
  width: calc(100vw - 0px);
  left: 0px;
}
header .main .headerbar {
  position: fixed;
  top: 0;
  width: calc(100vw - 300px);
  left: 300px;
  background: #EBEBEB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: width 0.5s, left 0.5s;
}
header .main .headerbar.active {
  width: calc(100vw - 0px);
  left: 0px;
}
header .main .headerbar .logo {
  position: relative;
  width: calc(100vw - 300px);
  height: 60px;
  width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 0;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*Inicia el Banner*/
.banner {
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 150px;
  padding: 0 20px;
  box-shadow: inset, inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transition: width 1s, left 0.5s;
}
.banner.active {
  left: 0;
}
.banner img {
  width: 300px;
}
.banner section {
  min-height: 100vh;
}
.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner .content .imgBx {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}
.banner .content .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content h3 {
  position: relative;
  font-size: 1.4em;
  color: #53657D;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 5vh;
}
.banner .content p {
  color: #53657D;
  padding-bottom: 5vh;
}
.banner .content .socialMedia {
  position: absolute;
  bottom: 10vh;
  display: flex;
  list-style: none;
  gap: 25px;
}
.banner .content .socialMedia li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  border-radius: 50%;
  color: #53657D;
  background: #EBEBEB;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.banner .content .socialMedia li a:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.banner .content .socialMedia .fa {
  color: rgb(80, 0, 78);
}

@media screen and (max-width: 578px) {
  .nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    align-items: center;
    font-size: 23px;
  }
  .headerbar {
    position: absolute;
    padding: 0;
    z-index: 10;
    left: 0px !important;
    width: 100vw !important;
    margin-left: 0;
  }
  .banner .active {
    display: none;
  }
}
.nav {
  overflow: hidden;
}

.hero {
  padding-top: 40px;
  position: relative;
  width: calc(100vw - 300px);
  height: 100vh;
  background: #EBEBEB;
  display: flex;
}
.hero.active {
  width: calc(100vw - 0px);
}
.hero .detel {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.hero .detel h1 {
  display: flex;
  padding-left: 1vw;
  font-size: 50px;
  color: #53657D;
  margin-bottom: 20px;
}
.hero .detel p {
  color: #53657D;
  line-height: 22px;
}
.hero .detel span {
  color: none;
  margin-left: 20px;
  font-weight: 200;
}
.hero .detel .hero-texto {
  padding: 8px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}
.hero .detel .hero-texto .hero-texto1 {
  max-width: 35vw;
  background-color: #EBEBEB;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 0.5vh 2.5vw 0.5vh 2.5vw;
  padding-bottom: 35px;
  cursor: move;
  backdrop-filter: blur(1px);
  margin-bottom: 3vh;
}
.hero .detel .hero-texto .hero-texto1:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.hero p {
  color: rgb(27, 55, 63);
}
.hero .images {
  width: 120%;
  height: 100%;
  max-width: 120%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -35vw;
}
.hero .images.active {
  width: calc(100vw - 100px);
}
.hero .images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.hero .images .hero-texturas {
  height: 100vh;
  width: 35vw;
  top: 10vh;
  left: 45vw;
  position: relative;
}
.hero .images .hero-texturas:hover {
  bottom: 40px;
}
.hero .images .hero-retrato {
  left: 50%;
  width: 57%;
  transition: left 1s;
}
.hero .images .hero-retrato:hover {
  left: 45%;
}

@media screen and (max-width: 767px) {
  .images {
    display: none;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    z-index: 999;
  }
  .detalle1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 90vw;
    margin-right: 5vw;
    max-width: none;
  }
  .detel h1 {
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }
  .hero-texto {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: none;
    justify-content: center;
    padding-bottom: 1vh;
  }
  .hero-texto1 {
    padding: 0;
    margin-left: 25px;
  }
  .hero-botonoes {
    display: flex;
    justify-content: space-between;
  }
}
.carrousel {
  margin-left: 0vw;
  margin-top: -7vh;
  width: calc(100vw - 300px);
  height: 200vh;
}
.carrousel img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.carrousel h1 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  color: #53657D;
  padding-bottom: 3vh;
  text-shadow: -1px -1px blue;
}
.carrousel h1:hover {
  text-shadow: -1px -1px rgb(141, 51, 174);
}
.carrousel a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  display: inline;
}
.carrousel li {
  list-style-type: none;
}
.carrousel form,
.carrousel input,
.carrousel textarea,
.carrousel select,
.carrousel button {
  hyphens: auto;
  background-color: transparent;
  display: block;
}
.carrousel .grande {
  width: 360vw;
  gap: 10vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #333;
  transition: all 0.4s ease;
  background-color: #EBEBEB;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrousel .img {
  width: 100vw;
  min-height: 10vh;
  max-height: 60vh;
  color: #333;
  transition: all 0.4s ease;
  background-color: #EBEBEB;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrousel .puntos .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: #333;
  transition: all 0.4s ease;
  background-color: #EBEBEB;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.carrousel .puntos .punto.activo {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.contenedor-servicios .container-card {
  width: 90%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.contenedor-servicios .container-card .card {
  width: 100%;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--white);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transition: all 400ms ease-out;
  cursor: default;
}
.contenedor-servicios .container-card .card:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transform: translateY(7%);
}
.contenedor-servicios .container-card .card img {
  width: 100%;
  height: 210px;
}
.contenedor-servicios .container-card .card .contenido-card {
  padding: 15px;
  text-align: center;
}
.contenedor-servicios .container-card .card .contenido-card h3 {
  margin-bottom: 15px;
  color: #53657D;
}
.contenedor-servicios .container-card .card .contenido-card span {
  color: red;
  font-size: 20px;
}
.contenedor-servicios .container-card .card .contenido-card p {
  line-height: 1.8;
  color: #53657D;
  font-size: 14px;
  margin-bottom: 5px;
}
.contenedor-servicios .container-card .card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #53657D;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.contenedor-servicios .container-card .card .contenido-card a:hover {
  background: transparent;
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  color: #53657D;
}
.contenedor-servicios .title-cards {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
    width: 70%;
  }
  .card {
    margin: 15px;
  }
}
.content {
  width: calc(100vw - 300px);
  height: 100vh;
}
.content.active {
  width: calc(100vw - 0px);
}
.content .contact-info ul {
  list-style: none;
  padding: 0;
}
.content .contact-wrapper {
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.content .contact-wrapper > * {
  padding: 1em;
}
.content .contact-form {
  background: #EBEBEB;
  color: #53657D;
}
.content .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content .contact-form form label {
  display: block;
}
.content .contact-form form p {
  margin: 0;
  padding: 1em;
}
.content .contact-form form .block {
  grid-column: 1/3;
}
.content .contact-form form button,
.content .contact-form form input,
.content .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #53657D;
  border-bottom: 1px solid #2a0476;
  box-shadow: 2px 2px --gris;
}
.content .contact-form form button:focus,
.content .contact-form form input:focus,
.content .contact-form form textarea:focus {
  outline: none;
}
.content .contact-form form button {
  background: #EBEBEB;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.content .contact-form form button:hover, .content .contact-form form button:focus {
  background: #a00b0b;
  color: #fff;
  transition: background-color 50s linear;
  outline: 0;
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.1), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.content.contact-info {
  background: #EBEBEB;
  color: #53657D;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.content.contact-info h4,
.content.contact-info ul,
.content.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .content {
    margin-top: -100px;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .content {
    display: none;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
@media screen and (max-width: 578px) {
  .content.active {
    display: grid;
  }
  .content {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
