/*header*/
.header-container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    min-height: 100vh;
    height: 100vh;
    box-shadow: $sombrainterna;
    background: $white2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
    margin-top: -60px;
    z-index: 100000;

    &.active {
        width: 0;
    }

    ul {
        /*La pos relative tiene la propiedad de que mantiene un flujo normal del documento lo que guarda su pocicion y mantiene la distancia entre el borde del elemento al borde de su contenedor en la direccion correspondientes*/
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 40px;

        li {
            /*Pongo position relative en todo para que se mantenga una jerarquia*/
            position: relative;
            width: 100%;
            list-style: none;

            a {
                /*se puede utilizar "z-index" para controlar su elevaciÃ³n en relaciÃ³n con otros elementos. cuando se usa con postion relative*/
                position: relative;
                display: block;
                width: 100%;
                margin: 10px 0;
                /*Izq y derecha */
                white-space: normal;
                /*"white-space:normal;" es una propiedad CSS que define cÃ³mo se deben manejar los espacios en blanco, en el caso de normal significa que cualquier espacio en blanco adicional, como tabulaciones, espacios y saltos de lÃ­nea, se reducen a un solo espacio. AdemÃ¡s, el texto se ajusta automÃ¡ticamente al ancho del contenedor en el que se encuentra, lo que puede dar lugar a lÃ­neas de texto mÃ¡s largas o mÃ¡s cortas segÃºn la resoluciÃ³n de la pantalla o el tamaÃ±o del contenedor.*/
                display: flex;
                text-transform: uppercase;
                text-decoration: none;
                color: $black;
                font-weight: 500;
                letter-spacing: 2px;
                opacity: 0.5;

                &:hover {
                    /*Recordar sin el hover disminui su opacidad o trasparencia y aqui la aumento*/
                    opacity: 1;
                    color: $gris;
                }
            }
        }
    }
}

header {
    .main {
        position: absolute;
        width: calc(100vw - 300px);
        left: 300px;
        background: $white;
        min-height: 100vh;

        &.active {
            width: calc(100vw - 0px);
            left: 0px;

            .headerbar {
                width: calc(100vw - 0px);
                left: 0px;
            }
        }

        .headerbar {
            position: fixed;
            top: 0;
            width: calc(100vw - 300px);
            left: 300px;
            background: $white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: $sombra;
            height: 65px;
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100000;
            transition: width 0.5s, left 0.5s;

            &.active {
                width: calc(100vw - 0px);
                left: 0px;
            }

            .logo {
                position: relative;
                width: calc(100vw - 300px);
                height: 60px;
                width: 250px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-content: center;
                padding-left: 0;
                color: $black;
                font-weight: 700;
                text-decoration: none;
                font-size: 1.4em;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}



















/*Inicia el Banner*/
.banner {
    margin-top: 65px;
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 150px;
    padding: 0 20px;
    box-shadow: inset,
        inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    transition: width 1s, left 0.5s;

    &.active {
        left: 0;
    }

    img {
        width: 300px;
    }

    section {
        min-height: 100vh;
    }

    .contentenedor {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgBx {
            position: relative;
            width: 250px;
            height: 250px;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 10px;
            top: -70px;
            img {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h3 {
            position: relative;
            font-size: 1.4em;
            color: $gris;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-bottom: 5vh;
        }

        p {
            color: $gris;
            padding-bottom: 2vh;
        }

        footer {
            margin-left: -300px;
            padding-bottom: 5vh;
        }

        .socialMedia {
            position: absolute;
            bottom: 5vh;
            display: flex;
            list-style: none;
            gap: 25px;

            li a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: $black;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                text-decoration: none;
                border-radius: 50%;
                color: $gris;
                background: #EBEBEB;
                box-shadow: $sombra;

                &:hover {
                    box-shadow: $sombrainterna;
                }
            }

            .fa {
                color: rgb(80, 0, 78);
            }
        }
    }
}

@media screen and (max-width: 578px) {
    .nav {
        margin: 0;
        padding: 0;
        width: 100vw;
        align-items: center;
        margin-top: -60px;
        font-size: 23px;
    }
    #banner .contentenedor.active {
        display: flex ;
        flex-direction: column ;
        top: -7vh;
    }

    .contentenedor {
        display: none;

        & p {
            width: 300px;
            text-align: center;
            top: 5vh;
        }
    }

    .block-cv {
        position: relative;
        top: -5px;
    }

    

    #headerbar {
        left: 0px ;
        width: 100vw ;
    }
    
    .inicio.active{
        overflow-y:scroll;
    }

}